body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    /* font-weight: 700; */
    color: #333333;
    /* background-color: rgb(207, 207, 207); */
    
}


*,
*:before,
*::after{
    box-sizing: border-box;
}

.header{
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    position: relative;
    top: 0;
}

.container{
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
}

.textabout{
    max-width: 488px;
    justify-content: space-between;
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10vh;
}



.buttons{
    margin: 0 10vh;
}

.btn{
    width: 75px;
    height: 30px;
    border-radius: 4px;
    background-color: #076A6D;
    color: #fff;
    border: none;
    font-style: regular;
    font-size: 12px;
}

.btn a{
    height: 100%;
    width: 100%;
}
.btn img{
    width: 12px;
    height: 11px;
} 
.brn{
    width: 75px;
    height: 30px;
    border-radius: 4px;
    background-color: #076A6D;
    color: #fff;
    border: none;
    font-style: regular;
    font-size: 12px;
}


.intro{
    margin:auto;
    margin-top: 25vh;
    margin-bottom: 12.5vh;
    
    display: flex;
    justify-content: space-around;
    max-width: 75%;
    height: 65vh;
}

.imgcollege{
    position: relative;
}

.logo{
    transition: transform .2s;
}
.logo:hover{
    transform: scale(1.2);
}
.college-img{
    position: relative;
    width: 488px;
    max-height: 488px;
    border-radius: 16px;
    object-fit: cover;
}

.Alnet{
    /* font-weight: 400; */
    font-size: 18px; 
    font-style: regular;
    
}

.about{
    width: 488px;
    
}

.loginbtns{
    margin-left: 5%;
    width: 90%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.bir{
    text-decoration: none;
    font-size: 22px; 
    font-weight: 700; 
    background-color: #fff; 
    border: 2px solid #076A6D; 
    text-align: center;
    padding: 6px;
    border-radius: 4px; 
    font-family: 'Roboto Slab', serif; 
    width: 207px; 
    height: 47px;
    color:#333;
}

.eki{
    text-decoration: none;
    font-size: 22px; 
    font-weight: 700; 
    background-color: #076A6D; 
    text-align: center;
    padding: 6px;
    border-radius: 4px; 
    font-family: 'Roboto Slab', serif; 
    width: 207px; 
    height: 47px;
    color:#fff;
}

.nav{
    font-size: 22px;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #076A6D;
    text-decoration: none;
    position: relative;

    transition: color .2s linear;
}

.nav__link:after{
    max-width: 50%;
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    opacity: 0;

    background-color: #076A6D;


    position: absolute;
    top: 100%;
    z-index: 1;
    transition: opacity 0.1s linear;
    transform: 0.1s ;
    animation: animate 0.5s linear;
}

@keyframes animate {
    0% {
        left: 50%;
        width: 0%
    }

    100% {
        left: 25%;
        width: 50%

    }
}


.nav__link:hover{
    color: #2cc0c5;
}

.nav__link:hover::after{
    width: 50%;
    opacity: 1;
    background-color: #2cc0c5;
    width: 50%;
    left: 25%;
}




/* MAIN */

.search-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search-bar{
    border: 2px solid #076A6D;
    border-radius: 16px;
    margin: 2vh 9.2vw 8vh;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 34vw;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.search-bar input{
    font-family: 'Roboto Slab', serif;
    flex: 1;
    border: 0;
    background: transparent;
    outline: none;
    color: #076A6D;
}

.search-bar button img{
    width: 16px;
}

.search-bar button{
    /*background-color: #076A6D;*/
    /*border-radius:  0 16px 16px 0;*/
    border: none;
    background: transparent;
    outline: none;
    width: 3.5vw;
    cursor: pointer;
    height: 100%;
}

.add_janalyk{
    text-decoration: none;
    text-align: center;
    align-items: center;
}



.product{
    /*max-width: 50%;*/
    width: 80vw;
    margin: 0 auto 15vh auto;
}


.title h2{
    font-size: 36px;
    color: #076A6D;
}

.title p{
    font-size: 18px;
    font-weight: 400    ;
    color: #333;
}






.product h2{
    color: #076A6D;
}

.product_info{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.product_images{
    max-width: 40vw;
    width: 40vw;
    height: 80vh;
    max-height: 80vh;
}

.main_img{
    /* padding: 0 50px; */
    max-width: 40vw;
    width: 40vw;
    height: 60vh;
    max-height: 60vh;
    object-fit: cover;
    mask-repeat: none;
    border-radius: 16px;
}

.secondary_images{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.secondary_img{
    border-radius: 16px;
    height: 15vh;
    width: 12.5vw;
    object-fit: cover;
    mask-repeat: none;
}

.information{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 40%;
    max-width: 50%;
    min-width: 20%;
    /* margin-bottom: 15vh; */
}

.information p{
    font-size: 20px;
}

.action_btns{
    max-height: 18vh;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.action_btns a{
    margin: 4vh 0 auto;
    width: 100%;
    border-radius: 4px;
    height: 6vh;
    text-align: center;
    text-decoration: none;
    position: relative;
    padding: 1vh;
    font-size: 22px;
}

.button_call{
    background-color: #076A6D;
    color: #fff;
}

.button_message{
    background-color: #ffffff;
    color: #076A6D;
    border: 2px solid #076A6D;
}

.about_product h4{
    color: #076A6D;
    font-size: 19px;
    /* margin: auto; */
    /* text-align: center; */
}

.about_product a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#333;
    font-size: 16px;
}

.about_product a:hover{
    text-decoration: underline;
    color: rgb(165, 165, 165);
}




/* FOOTER  */

.footer{
    background-color: #076A6D;
    height: 40vh;
    widows: 100%;
    margin: 0 auto;
    position: relative;
}

.footer h1{
    padding-top: 14vh;
    text-align: center;
    font-size: 36px;
    color: #fff;
}


.social-container{
    padding: 20px;
    vertical-align: bottom;
    text-align: center;
    /* display: flex; */
}

.about_product{
    width: 100%;
}